{% extends 'base.html' %}

{% block content %}
<body style="background: url('/static/aboutme.jpg') no-repeat center center/cover;">
<section id="about" class="about reveal">
    <h2>About Me</h2>

    <p>
        I am <strong>Patrick Andrawus Kumba</strong>, a Data Scientist & Machine Learning Engineer. 
        I build end-to-end data science and machine learning systems — from data analysis, predictive modeling, and business intelligence to deploying scalable ML applications using Flask, AWS, and MLOps.
    </p>

    <h3>Background</h3>
    <p>
        I hold a National Diploma in Computer Science 2021 - 2023, and have completed advanced professional courses At (Digital Regenesys Sch in INDIA).
        My Experiences includes Python, R, SQL, Machine Learning, Deep Learning, NLP, Computer Vision, Time Series Forecasting, Power BI, Tableau, MySQL, MongoDB, Big Data, and Full-Stack Web Development.
    </p>

    <h3>What I Do</h3>
    <ul>
        <li>Data Cleaning, Exploratory Data Analysis & Visualization (Python, Power BI, Tableau)</li>
        <li>Machine Learning & Deep Learning Model Development, Evaluation & Deployment</li>
        <li>Natural Language Processing & Computer Vision Projects</li>
        <li>Time Series Forecasting & Predictive Analytics</li>
        <li>Full-Stack Data Applications using Flask, REST APIs & Database Integration</li>
        <li>End-to-End ML Systems with AWS, Docker & MLOps</li>
    </ul>

    <h3>My Mission</h3>
    <p>
        My mission is to leverage data and AI / machine learning to solve complex business problems, deliver actionable insights, and create intelligent systems that scale globally.
        To Build defence sys
    </p>
</section>
</body>

{% endblock %}
